/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+python */
code[class*="language-"],
pre[class*="language-"] {
    color: #ffffff;
    background: 0 0;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #282c34;
}
:not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}
.token.block-comment,
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
    color: hsl(219, 14%, 71%);
}
.token.punctuation {
    color: #e5c07b;
}
.token.attr-name,
.token.deleted,
.token.namespace,
.token.tag {
    color: #7d0004;
}
.token.function-name {
    color: #61afef;
}
.token.boolean,
.token.function,
.token.number {
    color: #d19a66;
}
.token.class-name,
.token.constant,
.token.property,
.token.symbol {
    color: #fed677;
}
.token.atrule,
.token.builtin,
.token.important,
.token.keyword,
.token.selector {
    color: #c678dd;
}
.token.attr-value,
.token.char,
.token.regex,
.token.string,
.token.variable {
    color: #98c379;
}
.token.entity,
.token.operator,
.token.url {
    color: #abb2bf;
}
.token.bold,
.token.important {
    font-weight: 700;
}
.token.italic {
    font-style: italic;
}
.token.entity {
    cursor: help;
}
.token.inserted {
    color: green;
}
