.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.oswald-font {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.situ-solu {
    font-style: italic;
    font-weight: 600;
    padding-left: 25px;
}

.situ-solu + p {
    margin-left: 50px;
}

h2 {
    margin-left: 10px;
}
h3 {
    margin-left: 20px;
}

.green {
    color: green;
}

.red {
    color: red;
}

.title {
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
}

.sub-title {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.sub-sub-title {
    font-style: italic;
    text-decoration: underline;
}

code {
    word-wrap: break-word;
}
.output > span {
    color: white !important;
}
